@import url('https://fonts.googleapis.com/css?family=Faster+One&display=swap');
.glance-logo {
  font-family: 'Faster One', cursive;
}
body {
  min-width: 320px;
}
.description-lead {
  max-width: 600px;
  margin: auto;
}
.bullet {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

.no-underline:hover {
  text-decoration: none;
}