.time {
  x: 3%;
  y: 85%;
}

#date {
  x: 3%;
  y: 30%;
}

#graph {
  width: 125%;
  y: 15%;
  x: -28%;
  pointer-events: "visible";
}

.dualGraph {
  x: 35%;
  y: 9%;
}

.treatment-user-btns {
  y: "$+10";
}

#errorStatusLead {
  text-anchor: end;
  x: 63%;
  y: 21%;
  text-length: "80";
  width: 35%;
}
