
#delta {  
    x: 98%;
    y: 15%;
}

#sgv {
    x: 88%;
    y: 52%;
}

#errorLine {
	x1: 60%;
	y1: 36%;
	x2: 88%;
	y2: 36%;
	fill: white;
}

#timeOfLastSgv {
    x: 98%;
    y: 69%;
}

#arrows {
    x: 87%;
    y: 18%;
    width: 45;
    height: 45;
    fill: white;
}

#graph {
	width: 110%;
    y: 0%;
    x: -10%;
	pointer-events: "visible";
}

#dismiss {
	x: 2%;
  	y: 50%;
  	width: 150;
  	height: 115;
}