#delta {
  x: 98%;
  y: 15%;
}

#sgv {
  x: 88%;
  y: 52%;
}

#errorLine {
  x1: 60%;
  y1: 36%;
  x2: 88%;
  y2: 36%;
  fill: white;
}

#timeOfLastSgv {
  x: 98%;
  y: 69%;
}

#arrows {
  x: 87%;
  y: 18%;
  width: 45;
  height: 45;
  fill: white;
}

#graph {
  width: 110%;
  y: 0%;
  x: -10%;
  pointer-events: "visible";
}

.dualGraph {
  x: 30%;
  y: 5%;
}

#dismiss {
  x: 2%;
  y: 65%;
  width: 150;
  height: 85;
}

.DualbloodSugarDisplay {
  y: 10%;
}
.time {
  x: 3%;
  y: 97%;
}

/* .dualTime {
  text-anchor: start;
  x: 3%;
  y: 2%;
  font-family: Colfax-Medium;
  font-size: 29;
  font-weight: regular;
  width: 100%;
  height: 100%;
  fill: white;
  text-length: 64;
} */

#batteryLevel {
  width: 30;
  height: 15;
  fill: white;
  x: 3%;
  y: 3%;
}

.batteryImage {
  width: 32;
  height: 20;
  x: 3%;
  y: 1%;
}

#alertTitle {
  text-anchor: "end";
  x: 88%;
  y: 30%;
}

#alertLead {
  text-anchor: end;
  x: 63%;
  y: 32%;
  text-length: "80";
  width: 35%;
}

#alertArrows {
  x: 87%;
  y: 14%;
  width: 45;
  height: 45;
}

#alertUser {
  x: 98%;
  y: 10%;
  text-anchor: "end";
}

.treatment-user-btns {
  y: "$";
}
