.glance {
  y: 5%;
  width: 100%;
  height: 100%;
}

.h1 {
  font-size: 110;
  font-family: Tungsten-Medium;
  fill: white;
  text-length: 64;
}

.h2 {
  font-size: 60;
  font-family: SevilleSharp-Regular;
  fill: white;
  text-length: 64;
}

.subtext1 {
  font-size: 23;
  font-family: Colfax-Medium;
  font-weight: regular;
  width: 100%;
  height: 100%;
  fill: white;
  text-length: 64;
}

.subtext2 {
  font-size: 15;
  font-family: Seville-Condensed;
  font-weight: regular;
  width: 100%;
  height: 100%;
  fill: white;
  text-length: 64;
}

.leadText {
  font-size: 20;
  font-family: Colfax-Medium;
  font-weight: regular;
  width: 100%;
  height: 100%;
  fill: #9e9e9e;
  text-length: 64;
}

.text-gray {
  fill: gray;
}
.row {
  width: 100%;
  height: 50%;
}

.top {
  y: 0%;
}

.bottom {
  y: 50%;
}

.right {
  x: 50%;
}

.left {
  x: 0%;
  width: 50%;
}

.center {
  x: 33%;
}

.fit {
  y: 0%;
  width: 100%;
  height: 100%;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 35%;
}

.width-50 {
  width: 50%;
}

.spacing-top-10 {
  y: 3%;
}

.bgColor {
  gradient-type: "linear";
  x: 0;
  gradient-x1: "0";
  gradient-y1: "0";
  gradient-x2: "0";
  gradient-y2: "100%";
  gradient-color1: "#390263";
  gradient-color2: "black";
}

.bgColorReverse {
  gradient-color1: "black";
  gradient-color2: "#390263";
}

.settingsTextColor {
  fill: white;
}

/* Header CSS */
#batteryLevel {
  width: 30;
  height: 15;
  fill: white;
  x: 3%;
  y: 5%;
}

.batteryImage {
  width: 32;
  height: 20;
  x: 3%;
  y: 3%;
}
#batteryPercent {
  /*   x: 13%-2;
	 y: 7%+2;  */
  x: 15%;
  y: 15%;
  /*   font-size: 11;
	 fill: #7f7f7f;
	 font-family: Colfax-Medium; */
}

#date {
  x: 3%;
  y: 33%;
}

#weather {
  x: 48%;
  y: 15%;
  text-anchor: "end";
}

#degreeIcon {
  width: 8;
  height: 8;
  fill: #b8c3c4;
  x: 49%;
  y: 5%;
}

#weatherIcon {
  width: 24;
  height: 24;
  fill: #b8c3c4;
  x: 53%;
  y: 2%;
}

/* Header CSS End*/

/* BloodSugars Display CSS */
#delta {
  text-anchor: "end";
  x: 97%;
  y: 15%;
}

#sgv {
  text-anchor: "end";
  x: 97%;
  y: 50%;
}

#timeOfLastSgv {
  text-anchor: "end";
  x: 97%;
  y: 65%;
}

#arrows {
  x: 83%;
  y: 65%;
  width: 45;
  height: 45;
  fill: white;
}

.time {
  x: 3%;
  y: 97%;
}

.dualTime {
  text-anchor: start;
  x: 3%;
  y: 2%;
  font-family: Colfax-Medium;
  font-size: 32;
  font-weight: regular;
  width: 100%;
  height: 100%;
  fill: white;
  text-length: 64;
}

#errorLine {
  x1: 68%;
  y1: 38%;
  x2: 96%;
  y2: 38%;
  fill: white;
}

.errorStateContainer {
}

#errorStatus {
  text-anchor: end;
  x: 97%;
  y: 15%;
}

#errorStatusLead {
  text-anchor: end;
  x: 63%;
  y: 21%;
  text-length: "80";
  width: 35%;
}
/* BloodSugars Display CSS End */

/* Stats CSS */
.stat-image {
  width: 16;
  height: 16;
}

#layoutOne {
  text-anchor: "start";
  x: 3%;
  y: 15%;
}

#layoutTwo {
  text-anchor: "start";
  /* x: 3%; */
  x: 10%;
  y: 32%;
}

#layoutThree {
  text-anchor: "start";
  x: 10%;
  y: 49%;
}

#layoutFour {
  text-anchor: "start";
  x: 10%;
  y: 66%;
}

#layoutFive {
  text-anchor: "start";
  x: 10%;
  y: 83%;
}

#syringe {
  x: 3%;
  y: 22%;
  display: none;
}

#hamburger {
  x: 3%;
  y: 38%;
  display: none;
}

#step {
  x: 3%;
  y: 56%;
  /* 15 */
  display: none;
}

#heart {
  x: 3%;
  y: 73%;
  display: none;
}

.dualStatsTop {
  y: -5%;
}
.dualStatsBottom {
  y: 5%;
}
/* Stats CSS End */

/* Graph CSS */
#graph {
  width: 100%;
  y: 10%;
  pointer-events: "visible";
}

#high {
  x: 97%;
  y: 5%;
  width: 40;
}

#low {
  x: 97%;
  y: 88%;
  width: 40;
}

/* Graph CSS End */

/* Alert CSS */

#alertUser {
  text-anchor: "middle";
  x: 50%;
  y: 20%;
}
#alertTitle {
  text-anchor: "middle";
  x: 50%;
  y: 37%;
}

#alertLead {
  x: 50%;
  y: 45%;
  text-anchor: "middle";
}

#dismiss {
  x: 5%;
  y: 55%;
  width: 100;
  height: 115;
}
/* #dismiss {
	x: 3%;
  	y: 59%;
  	width: 100;
  	height: 115;
} */
#alertArrows {
  x: 65%;
  y: 25%;
  width: 45;
  height: 45;
  fill: white;
  text-anchor: "start";
}

/* Loading Screen CSS */
#loadingScreen {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 60%;
  x: 0%;
  y: 20%;
}

.loadingScreenBackground {
  width: 100%;
  height: 100%;
  x: 0;
  y: 0;
  fill: #454545;
  opacity: 0.86;
}

#spinner {
  x: 50%-25;
  y: 10%;
  width: 50;
  height: 50;
  fill: fb-white;
}

#loadingStatus {
  text-anchor: "middle";
  x: 50%;
  y: 50%;
}

#loadingStatusLead {
  text-anchor: "middle";
  width: "100%";
  x: 0%;
  y: 55%;
  text-length: "80";
}
/* Loading Screen CSS End*/
