#app {
  width:100%;
  height:100%;
}
#time {
  font-family: Tungsten-Medium;
  fill: white;
  text-length: 65;
  font-size:140;
}

#battery {
  width:50;
  height:17;
}
#battery-level {
 width:30; 
 height:16; 
 fill:white;
}

.status-text {
  fill: white;
  text-length: 65;
  font-size:20;
}

.h1 {
  fill: white;
  font-family: SevilleSharp-Bold;
  font-size:45;
}

.h2 {
  fill: white;
  font-family: SevilleSharp-Bold;
  font-size:25;
}
.h3 {
  fill: white;  
  font-family: "System-Light";
  font-size:22;
}

.image {
   width:32;
   height:32;
}

.graph-point {
  fill:#b0b1b2;
}

.gval {
  fill:#b0b1b2;
}
